@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #e5f6f3;
}

.contenedor_nav h1{
    text-align: center;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 55px;
}

/* Cartas */
.container__cards{
    max-width: 1800px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards{
    width: 300px;
    margin: 10px;
}

.cards:hover{
    width: 350px;
    margin: 10px;
    transition: all 300ms;
}

.cards .cover{
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.cards .cover img{
    width: 250px;
    display: block;
    margin: auto;
    position: relative;
    top: 40px;
    z-index: 1;
    filter: drop-shadow(5px 5px 4px rgba(0,0,0,0.5));
    transition: all 400ms;
}

.cards:hover .cover img {
    top: 0;
    filter: none;
}
.cards .img__back{
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: -80px;
    left: 0;
    background-size: cover;
    border-radius: 20px;
    transition: all 300ms;
}

.cards:nth-of-type(1) .img__back{
    background-image: url(../imagenes/fon2.jpg);
}

.cards:nth-of-type(2) .img__back{
    background-image: url(../imagenes/fon2.jpg);
}

.cards:nth-of-type(3) .img__back{
    background-image: url(../imagenes/fon2.jpg);
}

.cards:hover .img__back{
    bottom: -40px;
}

/* description */
.cards .description {
    background: white;
    margin-top: -10px;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    transition: all 300ms;
}

.cards:hover .description{
    padding: 40px;   
}

.cards .description h2{
    margin-top: 10px;
}

.cards .description p{
    margin-top: 10px;
    font-size: 15px;
}

.cards .description input{
    padding: 10px 40px;
    margin-top: 20px;
    border: none;
    background: grey;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 300ms;
}

.cards .description input:hover{
    background: #000;
}

/* Button */

.button2{
    height: 100%;
    display: flex;
    align-items: center;
}
.btn1{
    text-decoration: none;
    padding: 20px 50px;
    font-size: 1.25rem;
    position: relative;
    margin: 32px;
    background-color: #000;
    color: white;
    border-radius: 30px;
    transition: transform 0.3s ease;
}

.btn1::after, .btn1::before{
    content: "";
    position: absolute;
    opacity: 0.3;
    background: #000;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}

.btn1:hover {
    transform: translate(-12px, -12px);
}

.btn1:hover::after {
    transform: translate(6px, 6px);
}

.btn1:hover::before {
    transform: translate(12px, 12px);
}

/*INFORMACION EXTRA / data

*CORTE = 960px x 883px
*Falta correr el button2 a la derecha
*/